<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
<h1>Welcome to Admin Page</h1>
{% for i in obj %}
    {{ i.idea_creator_name }}
    {{ i.idea_creator_mail }}
    {{ i.idea_creation_date }}
    {{ i.idea_title }}
    {{ i.idea_description }}
    {{ i.idea_duration }}
    {{ i.idea_file }}
 <div class="uk-form-controls">
     <textarea class="uk-textarea" name="desc" id="description" rows="5" placeholder="Hey, your query description please" required=true></textarea>
 </div>
 <div class="uk-form-controls">
    <select class="uk-select" name="team_name" id="team_name" required="true">
        <option value="">--select--</option>
        {% for i in status %}
            <option value="{{ team }}">{{ i }}</option>
        {% endfor %}
    </select>
</div>
 <button class="uk-button uk-button-primary">Submit</button>
{% endfor %}

</body>
</html>