{% extends 'base.html' %}

{% block Title %}Push Idea | {% endblock %}

{% block body %}
<form method="POST" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    
    <fieldset class="form__fieldset md:form__fieldset">
        <legend class="uppercase font-black md:form__legend md:text-4xl">Fill up your idea</legend>

        <div class="mt-6 mb-6">
            <label class="block text-gray-500 text-sm font-bold mb-2">Improvement Area</label>
            <div class="form__input-div">
                <select 
                    type="number" 
                    name="idea_improvement" 
                    class="appearance-none py-2 px-3 form__input form__select" 
                    required
                >
                    <option value="" hidden>--select--</option>
                    {% for i in improvement %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                <select>
                <span class="form__input-focus"></span>
            </div>
        </div>

        <div class="mb-6">
            <label class="block text-gray-500 text-sm font-bold mb-2">Provide a title for you idea</label>
            <div class="form__input-div">
                <input type="text" name="idea_title" class="appearance-none py-2 px-3 form__input" placeholder="My Awesome Idea Title" required>
                <span class="form__input-focus"></span>
            </div>
        </div>

        <div class="mb-6">
            <label class="block text-gray-500 text-sm font-bold mb-2">Describe your idea</label>
            <div class="form__input-div">
                <textarea name="idea_description" class="appearance-none py-2 px-3 form__input form__textarea"  placeholder="My awesome idea is about...." required></textarea>
                <span class="form__input-focus" style="bottom: 7px;"></span>
            </div>
        </div>
        
        <div class="mb-6">
            <label class="block text-gray-500 text-sm font-bold mb-2">Impact Range</label>
            <div class="form__input-div">
                <select type="number" name="idea_impact" class="appearance-none py-2 px-3 form__input form__select" required>
                    <option value="" hidden>--select--</option>
                    {% for i in impact %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                <select>
                <span class="form__input-focus"></span>
            </div>
        </div>
        
        <div class="mb-6">
            <label class="block text-gray-500 text-sm font-bold mb-2">Any documents for details <em><sm>(Upto 5 Files only, Optional)</sm></em></label>
            <div class="form__input-div relative form__file-div">
                <span class="form__file-name form__file-placeholder py-2 px-3 absolute flex items-center w-full h-full pointer-none">Choose a file</span>
                <div class="form__input z-10">
                    <input type="file" name="idea_file" class="appearance-none py-2 px-3 w-full h-full form__file" multiple>
                </div>
                <span class="form__input-focus"></span>
            </div>
        </div>
        

        <button class="py-2 px-6 button-submit sm:block">Submit</button>
    </fieldset>
</form>
{% endblock %}

{% block scripts %}
{% load staticfiles %}
<script src="{% static 'storm/js/form.js' %}"></script>
{% endblock %}