{% extends 'base.html' %}

{% block Title %}Home | {% endblock %}

{% block body %}
{% if user_email in judges %}
<div class="">
    <div class="w-full h-32 flex items-center justify-center">
        <h1 class="text-3xl font-bold">Jury Selection</h1>
    </div>

    <div class="">
        <section class="mt-6">
            <ul class="grid gap-6 md:grid-cols-3">
                {% for idea in ideas %}
                    {% if idea.idea_status == 'Accepted' %}
                    <li class="rounded relative py-3 card">
                        <p class="self-end flex items-center px-4 pb-2 mb-2 card__head">
                            <span class="flex-1 text-base font-bold card__head__creator">{{idea.idea_creator_name}}</span>
                            <span class="text-sm card__head__date font-bold"><i class="far fa-clock mr-2"></i>{{idea.idea_creation_date|date}}</span>
                        </p>
                        <h2 class="text-lg font-bold px-4 mb-2">{{idea.idea_title}}</h2>
                        <p class="px-4 text-base flex flex-col mb-2">
                            <span class="text-sm text-gray-700 font-bold pb-1">Details</span>
                            <span class="card__description">{{idea.idea_description}}</span>
                        </p>
                        {% if idea.idea_duration %}
                        <p class="px-4 text-base flex flex-col mb-2">
                            <span class="text-sm text-gray-700 font-bold pb-1">Estimated Time required</span>
                            <span class="">{{idea.idea_duration}} days</span>
                        </p>
                        {% endif %}

                        <p class="mb-12"></p>

                        <div class="absolute bottom-0 py-3 px-4">
                            <a href="{% url 'storm:idea' id=idea.id %}" class="card__accept bg-purple-700 rounded py-1 px-3 mr-2">View Full Detail</a>
                        </div>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </section>
    </div>
</div>
{% else %}
<div class="flex items-center justify-center w-full" style="height: calc(100vh - 3rem)">
    <h2 class="text-3xl">Page Not Found 404</h2>
</div>
{% endif %}
{% endblock %}