.header{
    background-color: var(--header-base);
}

#logo{
    fill : var(--text-white);
    width: 30px;
    height: 30px;
}

.nav__link{
    transform: rotate(-90deg) translate(-3rem);
    font-size: .8rem;
    color: var(--glitch-2);
    position: relative;
    z-index: 10;
}

@media (min-width: 768px){
    .nav__link{
        font-size: 1rem;
    }
}

.nav__link:before,
.nav__link:after {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.nav__link:before {
  color: var(--glitch-1);
  z-index: 1;
}

.nav__link:after {
  color: var(--text-white);
  z-index: 2;
}

.nav__link:hover:before {
  -webkit-animation: glitchy 0.3s ease 0.3s infinite;
          animation: glitchy 0.3s ease 0.3s infinite;
}

.nav__link:hover:after {
  animation: glitchy 0.3s ease infinite reverse;
}

@keyframes glitchy {
  0% {
    transform: translate(-2px, 2px);
  }
  25% {
    transform: translate(-2px, -2px);
  }
  50% {
    transform: translate(2px, 2px);
  }
  75% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(-2px, 2px);
  }
}