/* Login Page */
.login-div{
    background-color: black;
}

.login-heading{
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--text-white);
    line-height: 1em;
}

@media (min-width: 768px){
    .login-heading{
        font-size: 6rem;
    }
}

.login-tag{
    color: var(--text-light);
}

.login-image{
    filter: grayscale();
}

.login-button{
    border: 1px solid var(--text-white);
    color: var(--text-white);
}

.login-button {
  display: block;
  position: relative;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
  padding: 8px 30px;
  letter-spacing: .35em;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid var(--text-white);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.login-button:before, .login-button:after {
  content: 'Login';
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 0;
  width: 100%;
  -webkit-clip: rect(0px, 0px, 0px, 0px);
  clip: rect(0px, 0px, 0px, 0px);
  background: var(--text-black);
  color: var(--text-white);
}

.login-button:before {
  left: -3px;
  top: -2px;
  text-shadow: 2px 0 var(--text-white);
  box-shadow: 2px 0 var(--text-white);
}

.login-button:after {
  left: 2px;
  bottom: -2px;
  text-shadow: -1px 0 var(--text-white);
  box-shadow: -1px 0 var(--text-white);
}

.login-button:hover {
  background: var(--text-black);
  color: var(--text-white);
}

.login-button:hover:before {
  animation: glitch-test 1.5s infinite linear alternate-reverse;
}

.login-button:hover:after {
  -webkit-animation: glitch-test 2s infinite linear alternate;
          animation: glitch-test 2s infinite linear alternate;
}

@-webkit-keyframes glitch-test {
  0% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  5.88235% {
    clip: rect(0px, 600px, 0px, 0px);
  }
  11.76471% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  17.64706% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  23.52941% {
    clip: rect(100px, 600px, 100px, 0px);
  }
  29.41176% {
    clip: rect(0px, 600px, 600px, 0px);
  }
  35.29412% {
    clip: rect(100px, 600px, 0px, 0px);
  }
  41.17647% {
    clip: rect(0px, 600px, 600px, 0px);
  }
  47.05882% {
    clip: rect(100px, 600px, 0px, 0px);
  }
  52.94118% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  58.82353% {
    clip: rect(100px, 450px, 100px, 0px);
  }
  64.70588% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  70.58824% {
    clip: rect(100px, 450px, 100px, 0px);
  }
  76.47059% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  82.35294% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  88.23529% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  94.11765% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  100% {
    clip: rect(0px, 450px, 0px, 0px);
  }
}

@keyframes glitch-test {
  0% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  5.88235% {
    clip: rect(0px, 600px, 0px, 0px);
  }
  11.76471% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  17.64706% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  23.52941% {
    clip: rect(100px, 600px, 100px, 0px);
  }
  29.41176% {
    clip: rect(0px, 600px, 600px, 0px);
  }
  35.29412% {
    clip: rect(100px, 600px, 0px, 0px);
  }
  41.17647% {
    clip: rect(0px, 600px, 600px, 0px);
  }
  47.05882% {
    clip: rect(100px, 600px, 0px, 0px);
  }
  52.94118% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  58.82353% {
    clip: rect(100px, 450px, 100px, 0px);
  }
  64.70588% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  70.58824% {
    clip: rect(100px, 450px, 100px, 0px);
  }
  76.47059% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  82.35294% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  88.23529% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  94.11765% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  100% {
    clip: rect(0px, 450px, 0px, 0px);
  }
}